
.popup-menu {
  .popup-menu-item {
    padding: $base_padding $base_padding * 2.5;

  // add margin to switches in menu items
  .toggle-switch {
    &:ltr { margin-left: $base_margin; }
    &:rtl { margin-right: $base_margin; }
  }
  }
}

// separator
.popup-separator-menu-item {
  padding: 0;

  .popup-menu-ornament {
    width: 0 !important;
  }

  .popup-separator-menu-item-separator {
    height: 1px; //not really the whole box
    background-color: $divider;
    margin: $base_padding 32px;

    .popup-sub-menu & { //submenu separators
      padding: 0;
      margin: 0 32px 0 0;
      height: 1px;
    }
  }
}

.popup-ornamented-menu-item {
  &:ltr { padding-left: $base_padding; }
  &:rtl { padding-right: $base_padding; }
}

// symbolic icons in popover
.popup-menu-arrow,
.popup-menu-icon {
  icon-size: $scalable_icon_size;
}

// container for radio and check boxes
.popup-menu-ornament {
  icon-size: $scalable_icon_size !important;
  width: $scalable_icon_size;
}

// right-click (and panel) app menu
.app-menu {
  .popup-inactive-menu-item:first-child {
    // "Open Windows" label
    > StLabel {
      font-weight: bold;
      font-size: $font_size;

      &:ltr { margin-right: 0; }
      &:rtl { margin-left: 0; }
    }

    .popup-separator-menu-item-separator {
      height: 0;
      background-color: transparent;
    }
  }
}
