// Libadwaita Theme Color Palette

$blue_1: #99c1f1;
$blue_2: #62a0ea;
$blue_3: #3584e4;
$blue_4: #1c71d8;
$blue_5: #1a5fb4;
$green_1: #8ff0a4;
$green_2: #57e389;
$green_3: #33d17a;
$green_4: #2ec27e;
$green_5: #26a269;
$yellow_1: #f9f06b;
$yellow_2: #f8e45c;
$yellow_3: #f6d32d;
$yellow_4: #f5c211;
$yellow_5: #e5a50a;
$orange_1: #ffbe6f;
$orange_2: #ffa348;
$orange_3: #ff7800;
$orange_4: #e66100;
$orange_5: #c64600;
$red_1: #f66151;
$red_2: #ed333b;
$red_3: #e01b24;
$red_4: #c01c28;
$red_5: #a51d2d;
$purple_1: #dc8add;
$purple_2: #c061cb;
$purple_3: #9141ac;
$purple_4: #813d9c;
$purple_5: #613583;
$brown_1: #cdab8f;
$brown_2: #b5835a;
$brown_3: #986a44;
$brown_4: #865e3c;
$brown_5: #63452c;
$light_1: #ffffff;
$light_2: #f6f5f4;
$light_3: #deddda;
$light_4: #c0bfbc;
$light_5: #9a9996;
$dark_1: #77767b;
$dark_2: #5e5c64;
$dark_3: #3d3846;
$dark_4: #241f31;
$dark_5: #000000;

// Default Theme Color Palette

// Red
$red-light: #F44336;
$red-dark: #E53935;

// Pink
$pink-light: #F06292;
$pink-dark: #EC407A;

// Purple
$purple-light: #BA68C8;
$purple-dark: #AB47BC;

// Blue
$blue-light: #5b9bf8;
$blue-dark: #3c84f7;

// Teal
$teal-light: #4DB6AC;
$teal-dark: #009688;

// Green
$green-light: #66BB6A;
$green-dark: #4CAF50;

// Yellow
$yellow-light: #FBC02D;
$yellow-dark: #FFD600;

// Orange
$orange-light: #FF8A65;
$orange-dark: #FF7043;

// Grey
$grey-050: #FAFAFA;
$grey-100: #F2F2F2;
$grey-150: #EEEEEE;
$grey-200: #DDDDDD;
$grey-250: #CCCCCC;
$grey-300: #BFBFBF;
$grey-350: #A0A0A0;
$grey-400: #9E9E9E;
$grey-450: #868686;
$grey-500: #727272;
$grey-550: #555555;
$grey-600: #464646;
$grey-650: #3C3C3C;
$grey-700: #2C2C2C;
$grey-750: #242424;
$grey-800: #212121;
$grey-850: #121212;
$grey-900: #0F0F0F;
$grey-950: #030303;

// White
$white: #FFFFFF;

// Black
$black: #000000;

// Theme
$default-light: #5565ff;
$default-dark: #7b88ff;
