/* Top Bar */
// a.k.a. the panel

#panel {
  background-color: $panel;
  font-weight: bold;
  height: $item_size;
  color: $panel-text-secondary;
  font-feature-settings: "tnum";
  transition-duration: 250ms;
  @include fontsize($font_size - 1);

  // the rounded outset corners
  .panel-corner {
    -panel-corner-radius: 0;
    -panel-corner-background-color: $panel;
    -panel-corner-border-width: 2px;
    -panel-corner-border-color: transparent;
    -panel-corner-opacity: 1;
    transition-duration: 250ms;
  }

  // panel menus
  .panel-button {
    -natural-hpadding: 12px;
    -minimum-hpadding: 6px;
    font-weight: bold;
    color: $panel-text-secondary;
    transition-duration: 150ms;
    border-radius: $circular_radius;
    text-shadow: none;
    border: 2px solid transparent;
    background-gradient-direction: horizontal;
    background-gradient-start: transparent;
    background-gradient-end: transparent;

    &.clock-display {
      .clock {
        transition-duration: 150ms;
        border: 2px solid transparent;
        border-radius: $circular_radius;
        background-gradient-direction: horizontal;
        background-gradient-start: transparent;
        background-gradient-end: transparent;
      }
    }

    &:hover {
      color: $panel-text;
      background-color: transparent;
      box-shadow: 0 2px 3px -1px rgba(black, 0.04);
      background-gradient-start: if($topbar == 'light', white, overlay($panel, hover));
      background-gradient-end: if($topbar == 'light', white, overlay($panel, hover));

      &.clock-display {
        box-shadow: none;
        color: $panel-text-secondary;
        background-color: transparent;
        background-gradient-start: transparent;
        background-gradient-end: transparent;

        .clock {
          color: $panel-text;
          background-color: transparent;
          box-shadow: 0 2px 3px -1px rgba(black, 0.04);
          background-gradient-start: if($topbar == 'light', white, overlay($panel, hover));
          background-gradient-end: if($topbar == 'light', white, overlay($panel, hover));
        }
      }
    }

    &:active, &:overview, &:focus, &:checked {
      &, &:hover {
        color: on($primary);
        background-color: transparent;
        box-shadow: 0 2px 3px -1px rgba(black, 0.08);
        background-gradient-start: #6a58f0;
        background-gradient-end: #cf54d0;
      }

      &.clock-display {
        box-shadow: none;
        color: $panel-text-secondary;
        background-color: transparent;
        background-gradient-start: transparent;
        background-gradient-end: transparent;

        .clock {
          color: on($primary);
          background-color: transparent;
          box-shadow: 0 2px 3px -1px rgba(black, 0.08);
          background-gradient-start: #6a58f0;
          background-gradient-end: #cf54d0;
        }
      }
    }

    .unlock-screen &,
    .login-screen &,
    .lock-screen & {
      &, &:focus, &:hover { color: $panel-text; }
    }

    // status area icons
    .system-status-icon {
      icon-size: $base_icon_size;
      padding: $base_padding;
      margin: 0 $base_margin;
      -st-icon-style: symbolic;
    }

    .panel-status-indicators-box .system-status-icon,
    .panel-status-menu-box .system-status-icon {
      margin: 0;
    }

    // app menu icon
    .app-menu-icon {
      -st-icon-style: symbolic;
      // dimensions of the icon are hardcoded
    }

    &#panelActivities {
      -natural-hpadding: $base_padding * 3;
    }
  }

  // transparent panel on lock & login screens
  &:overview,
  &.unlock-screen,
  &.login-screen,
  &.lock-screen {
    background-color: transparent;
    box-shadow: none;

    StLabel, StIcon { color: on($osd, secondary); }

    .panel-button {
      &:hover {
        color: on($osd);
        background-color: transparent;
        box-shadow: none;
        background-gradient-start: overlay($osd, hover);
        background-gradient-end: overlay($osd, hover);

        &.clock-display {
          box-shadow: none;
          color: on($osd);
          background-color: transparent;
          background-gradient-start: transparent;
          background-gradient-end: transparent;

          .clock {
            color: on($osd);
            box-shadow: none;
            background-color: transparent;
            background-gradient-start: overlay($osd, hover);
            background-gradient-end: overlay($osd, hover);
          }
        }
      }

      &:active, &:overview, &:focus, &:checked {
        color: on($osd);
        background-color: transparent;
        box-shadow: none;
        background-gradient-start: #6a58f0;
        background-gradient-end: #cf54d0;

        &.clock-display {
          box-shadow: none;
          color: on($osd);
          background-color: transparent;
          background-gradient-start: transparent;
          background-gradient-end: transparent;

          .clock {
            box-shadow: none;
            color: on($osd);
            background-color: transparent;
            background-gradient-start: #6a58f0;
            background-gradient-end: #cf54d0;;
          }
        }
      }
    }

    .panel-corner {
      -panel-corner-radius: 0;
      -panel-corner-background-color: transparent;
      -panel-corner-border-color: transparent;
    }
  }

  .panel-status-indicators-box,
  .panel-status-menu-box {
    spacing: 2px;
  }

  // spacing between power icon and (optional) percentage label
  .power-status.panel-status-indicators-box {
    spacing: 0;
  }

  // indicator for active
  .screencast-indicator,
  .remote-access-indicator { color: $warning; }
}
