/* Slider */

$slide_size: if($compact == 'false', 8px, 7px);

.slider {
  height: 20px;
  color: $base;

  -slider-height: 2px;
  -slider-background-color: $track; //background of the trough
  -slider-border-color: $accent; //trough border color
  -slider-active-background-color: $accent; //active trough fill
  -slider-active-border-color: $accent; //active trough border
  -slider-border-width: 2px;
  -slider-handle-radius: $slide_size;
  -slider-handle-border-width: 2px;
  -slider-handle-border-color: $accent;

  // barlevels are for >= 3.29.90
  -barlevel-height: 2px;
  -barlevel-background-color: $track;
  -barlevel-border-color: transparent;
  -barlevel-active-background-color: $accent;
  -barlevel-active-border-color: transparent;
  -barlevel-overdrive-color: $destructive;
  -barlevel-overdrive-border-color: transparent;
  -barlevel-overdrive-separator-width: 2px;
  -barlevel-border-width: 0;
}
